@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap');

@font-face {
  font-family: 'Avenir'; /* Name to reference this font */
  src: url('/avenir.OTF') format('opentype'); /* Path to your OTF font file */
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f3f1ed;
}

::-webkit-scrollbar {
  display: none;
}

.section {
  width: 100%;
  height: 100vh;
  z-index: 1;
  pointer-events: all;
  background-color: transparent;
}

.experience {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 5; /* Keep this as it is */
  pointer-events: all;
}

/* SOUND TOGGLE */

.sound-container {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 2%;
  z-index: 15;
  width: auto;
  height: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  overflow: hidden;
}

.sound-container-image {
  height: 35%;
  position: relative;
}

.sound-text {
  font-family: 'Avenir', sans-serif;
  font-size: 1rem;
  color: #f3f1ed;
  font-weight: 100;
  line-height: 1rem;
}

.sound-text-black {
  font-family: 'Avenir', sans-serif;
  font-size: 1rem;
  color: black;
  font-weight: 100;
  line-height: 1rem;
}

.sound-line {
  width: 25px;
  height: 2px;
  background-color: #f3f1ed;
  transition: transform 0.2s ease; /* Smooth transition for transform property */
}

.sound-line-black {
  width: 25px;
  height: 2px;
  background-color: black;
  transition: transform 0.2s ease; /* Smooth transition for transform property */
}

/* SCROLL OVERLAY */

.scroll-overlay {
  position: fixed; /* Use fixed for positioning relative to the viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 11;
  background-color: rgba(0, 0, 0, 0.4); /* Example: semi-transparent white */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 1s ease, z-index 1s linear 0.5s;; /* Define opacity transition */
}

.scroll-overlay.hidden {
  opacity: 0; /* When hidden, set opacity to 0 */
  pointer-events: none; /* Disable pointer events when hidden */
  z-index: -1;
}

.scroll-top, .scroll-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.scroll-text {
  font-family: 'Avenir', sans-serif;
  font-size: 1.5rem;
  color: #f3f1ed;
  font-weight: 400;
}

.fa-solid, .fa-arrow-down-long {
  font-size: 50px;
}

.white {
  color: #f3f1ed;
}

/* NAV OVERLAY */

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.overlay-navigation {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 25px;
  margin-right: 25px;
}

.navigation-text {
  background-color: transparent;
  border: none;
  font-family: 'Avenir', sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #f3f1ed;
  z-index: 20;
}

.navigation-icon {
  height: auto;
  width: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.icon-top {
  width: 100%;
  height: 2.5px;
  background-color: #f3f1ed;
  margin-bottom: 5%;
}

.icon-bottom {
  width: 100%;
  height: 2.5px;
  background-color: #f3f1ed;
  margin-top: 5%;
}

.black {
  background-color: black;
}

.navigation-icon-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #f3f1ed;
  z-index: 21;
}

.navigation-icon-icon {
  height: auto;
  width: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  align-items: end;
}

.navigation-icon-overlay-content {
  position: relative;
  width: 60%;
  height: 95%;
  margin-top: 1.75%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.overlay-texts {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}

.overlay-list {
  list-style: none;
  padding: 0;
}

.container-description, .container-description-list  {
  margin-top: 0;
  font-family: 'Avenir', sans-serif;
  font-size: 1rem;
  color: black;
  font-weight: 400;
  margin-bottom: 5px;
}

.container-description-list {
  margin-bottom: 0px;
}

.list-list, .list-list-bottom {
  margin-left: 10px;
  margin-top: 0;
  font-family: 'Avenir', sans-serif;
  font-size: 1rem;
  color: black;
  font-weight: 400;
  margin-bottom: 0px;
}

.list-list-bottom {
  margin-bottom: 5px;
}

/* FULL OVERLAY */

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

/* Additional styles for full-overlay content */

.full-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f3f1ed;
  z-index: 20;
}

.back-button {
  font-size: 1rem;
  padding: 8px 16px;
  background-color: #ccc;
  color: #333;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 16px;
}

.overlay-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.overlay-content.active {
  opacity: 1;
}

.overlay-visible {
  z-index: 10;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.overlay-navigation-visible {
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
  margin-right: 25px;
  align-self: flex-end;
}

.navigation-text-back {
  background-color: transparent;
  border: none;
  font-family: 'Avenir', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: black;
  z-index: 20;
}

.lines-two {
  font-size: 3rem;
  color: black;
}

.containers {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Space evenly between the two rows */
  align-items: center;
  overflow: scroll;
  margin-top: 1.25%;
}

.row {
  width: 100%;
  display: flex;
  justify-content: left; /* Space evenly within each row */
  margin-left: 10%;
}

.container {
  width: 18%; /* Set the width of each container */
  margin: 10px; /* Add margin around each container */
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  cursor: pointer;
  margin-right: 10%;
}

.container-one-image {
  width: 100%;
  padding-top: 100%; /* Create a square by setting height relative to width */
  position: relative;
  background-image: url('/projectimage.png');
  background-size: cover;
  background-position: center;
}

.container-heading {
  margin-top: 1%;
  margin-bottom: 0;
  font-family: 'Avenir', sans-serif;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: black;
}

/* PROJECT OVERLAYS */

.project-one-overlay, .project-two-overlay, .project-three-overlay, .project-four-overlay, .project-five-overlay, .project-six-overlay, .project-seven-overlay, .project-eight-overlay, .project-nine-overlay {
  position: absolute;
  background-color: #f3f1ed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.project-picture-overlay {
  width: 45%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.project-text-overlay {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.project-pictures {
  width: 100%;
  height: 45vw;
  background-color: #e0e0e0;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Custom scrollbar styles specific to project-pictures */
  scrollbar-width: thin; /* Set width of the scrollbar */
  scrollbar-color: #ccc transparent; /* Set color of the scrollbar (track and thumb) */
}

.project-image {
  width: 100%;
}

.project-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10%;
}

.project-top-text {
  font-family: 'Avenir', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: black;
}

.project-description {
  font-family: 'Avenir', sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  color: black;
  margin-left: 10%;
}

.fa-solid, .fa-xmark {
  font-size: 1.5rem;
}

.close-button {
  border: none;
}


/* 3D EXPERIENCE OVERLAYS */

.white-button {
  width: 25px;
  height: 25px;
  border-radius: 50px;
  background-color: #f3f1ed;
  pointer-events: all;
  position: relative;
  z-index: 1;
  transition: 0.5s ease-in;
  transform-origin: center;
}

.white-button:hover {
  width: 50px;
  transition: 0.5s ease-in;
}

.white-button-overlay {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 95;
  width: 40%;
  height: 100vh;
  background-color: #f3f1ed;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.white-button-navigation {
  position: relative;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.white-button-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow: scroll;
}

.white-button-left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.white-button-image {
  width: 90%;
}

.white-button-right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}





/* LOADING SCREEN */

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  padding: 4rem;
  width: 100vw;
  height: 100vh;
  z-index: 12;
  display: grid;
  place-items: center;
  text-align: center;
  background-color: #f3f1ed;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.loading-screen--hidden {
  animation: fade-out 0.5s ease-in-out forwards 1s;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.loading-screen__title {
  font-family: 'Avenir', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: black;
  margin: 0;
  overflow: hidden; /* Hide overflowing text */
  white-space: nowrap; /* Prevent wrapping */
}

@keyframes fillText {
  from {
    width: 0; /* Start with zero width */
  }
  to {
    width: 100%; /* End with full width */
  }
}

.loading-screen__title {
  animation: fillText 1.5s linear forwards; /* Animation lasts 2 seconds */
}

.progress__container {
  width: 100%;
  height: 2.5px;
  background-color: white;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  margin-top: 5%;
}

.progress__bar {
  width: 0;
  height: 100%;
  background-color: black;
  transition: width 0.5s ease-in-out;
}


@media (max-width: 768px) {


  /* SOUND CONTAINER MOBILE */

  .kontakt-sound-container {
    position: relative;
    margin-top: -3%;
    margin-left: 2.5%;
    z-index: 15;
    width: 300px;
    height: 65px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    overflow: hidden;
  }

  .navigation-text-back {
    background-color: transparent;
    border: none;
    font-family: 'Avenir', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: black;
    z-index: 20;
  }


  /* OVERLAY CONTENT */


  .containers {
    width: 90%;
    margin-left: 5%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Space evenly between the two rows */
    align-items: center;
    overflow: scroll;
  }
  
  .row {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; /* Space evenly within each row */
    margin-left: 0%;
  }
  
  .container {
    width: 100%; /* Set the width of each container */
    margin: 0; /* Add margin around each container */
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
  
  .container-one-image {
    width: 100%;
    padding-top: 100%; /* Create a square by setting height relative to width */
    position: relative;
    background-image: url('/projectimage.png');
    background-size: cover;
    background-position: center;
  }
  
  .container-heading {
    margin-top: 1%;
    margin-bottom: 0;
    font-family: 'Avenir', sans-serif;
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: black;
  }
  
  .container-description {
    margin-top: 0;
    font-family: 'Avenir', sans-serif;
    font-size: 1rem;
    color: black;
  }

  .navigation-icon-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: #f3f1ed;
    z-index: 21;
  }
  .navigation-icon-overlay-content {
    position: relative;
    width: 90%;
    height: 100%;
    margin-top: 1.75%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  /* LOADING MOBILE */

  .loading-screen__title {
    font-family: 'Avenir', sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
    text-transform: uppercase;
    color: black;
    margin: 0;
    overflow: hidden; /* Hide overflowing text */
    white-space: nowrap; /* Prevent wrapping */
  }

  /* PROJECT OVERLAYS MOBILE */

.project-one-overlay, .project-two-overlay, .project-three-overlay, .project-four-overlay, .project-five-overlay, .project-six-overlay, .project-seven-overlay, .project-eight-overlay, .project-nine-overlay {
  position: absolute;
  background-color: #f3f1ed;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-picture-overlay {
  width: 90%;
  display: flex;
  flex-direction: column;
  height: auto;
  margin-left: 5%;
}

.project-pictures {
  width: 100%;
  height: 90vw;
  background-color: #e0e0e0;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Custom scrollbar styles specific to project-pictures */
  scrollbar-width: thin; /* Set width of the scrollbar */
  scrollbar-color: #ccc transparent; /* Set color of the scrollbar (track and thumb) */
}

.project-image {
  width: 100%;
}

.project-text-overlay {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  overflow: scroll;
}

.project-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 0%;
}

.project-top-text {
  font-family: 'Avenir', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: black;
}

.project-description {
  font-family: 'Avenir', sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  color: black;
  margin-left: 0%;
}

.fa-solid, .fa-xmark {
  font-size: 1.5rem;
}

.close-button {
  border: none;
}

/* 3D EXPERIENCE OVERLAYS MOBILE */

.white-button {
  width: 25px;
  height: 25px;
  border-radius: 50px;
  background-color: #f3f1ed;
  pointer-events: all;
  position: relative;
  z-index: 1;
}

.white-button-overlay {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 95;
  width: 100%;
  height: 100vh;
  background-color: #f3f1ed;
  display: flex;
  flex-direction: column;
}

.white-button-navigation {
  position: relative;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.white-button-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.white-button-left {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.white-button-image {
  width: 90%;
}

.white-button-right {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-left: 5%;
}
  

}




